{{define "main"}}
<html>
  <head>
  <title>test-web-app</title>
  <style>
  h1 {
  text-align: center;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  </style>
  </head>
  <body>
    <h1> Host: {{.host}}</h1>
    <table>
      <tr>
        <th>Header</th>
        <th>Value</th>
      </tr>
      {{ range $key, $value := .headers }}
      <tr>
        <td>{{$key}}</td>
        <td>{{$value}}</td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
{{end}}